* {
    margin: 0;
    padding: 0;
    
}

/*MAIN CONTAINER*/
.main-container {
    width: 800px;
    margin: 30px auto;  
}

/*FIRST SECTION*/

/*Clearfix*/
.main-container::after {
    content: '';
    display: table;
    clear: both;
}

.section {
    width: 100%;
    float: left;
}

/*Sinistra*/
.box-one {
    float: left;
    width: 31%;  
    position: relative;
}

.img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    object-position: center;
    float: left;
}
.left-img {
    float: left; 
    position: relative;
    z-index: 5;
}

/*Centro*/
.box-two {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    margin-left: 3.5%; 
    position: relative;
}

.central-img {
    float: left;
    z-index: 5;
    position: relative;
}

/*Destra*/
.box-three {
    float: left;
    width: 31%;
    position: relative;
}

.right-img {
    float: left;  
    z-index: 5;
    position: relative;
}

/*Caratteristiche degli articoli*/
.title {
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    color: red;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
}

.sconto {
    position: absolute;
    bottom: 80px;
    left: 0px;
    background-color: rgb(243, 65, 65);
    font-weight: bold;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 7;
}

.sostenibile {
    position: absolute;
    bottom: 80px;
    left: 50px;
    background-color: rgb(9, 110, 68);
    font-weight: bold;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 7;
}

.heart {
    position: absolute;
    background-color: white;
    right: 0;
    top: 20px;
    padding: 10px;
    z-index: 7;
}

/*SECOND SECTION*/

.section2  {
    width: 100%;
    margin-top: 50px;
    float: left;
}

.sostenibile2 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    background-color: rgb(9, 110, 68);
    font-weight: bold;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 7;
}

/*HOVER*/

 .img-hover {
    position: absolute;
    width: 100%;
    height: 370px;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    z-index: 3;
 }

 .left-img:hover {
     z-index: 2;
}

.central-img:hover {
    z-index: 2;
}

.right-img:hover {
    z-index: 2;
}


